#carousel {
    display: flex;
    margin: .5rem 0;

    width: 0;
    min-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

#carousel a:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

#carousel img {
    max-height: 13rem;
}

@keyframes autoscroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5rem);
    }
}