#navbar {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--neutral7);
    border-bottom: 2px solid var(--neutral3);
    grid-area: nav;

    z-index: 50;
}

#navbar a {
    padding: .25rem 1rem;

    text-decoration: inherit;
    font-size: 24px;
    font-weight: bold;
    color: var(--neutral2);
    border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
    #navbar a:hover {
        background-color: var(--neutral6);
    }
}