#projects {
    display: grid;

    /* padding: 2rem; */
    gap: 2rem;
}

/* See https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
@media (min-width: 576px) {
    #projects {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 0.5rem;
    }
}

@media (min-width: 768px) {
    #projects {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    #projects {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}