#projects {
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

#one-col {
    display: none;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    #two-col {
        display: none;
    }

    #one-col {
        display: flex;
    }
}