html {
  background-color: #94b798;
}

.container {
  display: flex;
  justify-content: center;
  margin: 7vh auto auto; /* Offset for nav */
}

/*** Intro ***/
#bkg {
  height: 100vh;
  background-color: #94b798;
  animation: fade 1s 1.5s ease-in-out forwards;
}

@keyframes fade {
  100% {
    opacity: 0;
    display: none;
  }
}

.slider {
  width: 100%;
  height: 49.75%;
  background-color: #2a4d43;
  position: absolute;
}

.top {
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #94b798;
  font-size: 96px;
  animation: slide-up 1s .5s ease-in-out forwards;
}

.bottom {
  bottom: 0;
  animation: slide-down 1s .5s ease-in-out forwards;
}

@keyframes slide-up { 100% { top: -49.75%; } }
@keyframes slide-down { 100% { bottom: -49.75%; } }

/*** Home ***/
#main {
  display: flex;
}

.panel {
  width: 70%;
  margin: auto 24px;
  color: #2a4d43;
}

.title {
  margin: 12px;
  font-size: 64px;
}

.title.small {
  display: none;
}

.bio {
  margin: 12px;
  font-size: 24px;
}

.bio a {
  color: inherit;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#me {
  margin: 24px 8px 12px;
  border-radius: 50%;
  width: 70%;
}

#icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#icons a {
  display: flex;
}

#icons i {
  font-size: 32px;
  margin: 8px;
  color: #2a4d43;
  transition: .25s;
}

#icons i:hover {
  transform: scale(1.1);
}

/*** Navbar ***/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  min-height: 7vh;
  width: 100%;
  border-bottom: 2px solid #2a4d43;

  background-color: #557a64;
}

#navbar a {
  margin: auto 10px;
  padding: 4px 8px;
  border-radius: 5px;

  text-decoration: none;
  color: #6f9b80;
  font-size: 24px;
  font-weight: bold;
  transition: .25s;
}

#navbar a.active {
  color: #e4ded3;
}

#navbar a:hover {
  background-color: #2a4d43;
}

/*** Projects ***/
#projects {
  max-width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#one-col {
  display: none;
}

.row {
  max-width: 70%;
  margin: 8px 0;
  display: flex;
  flex-direction: row;

}

.tile {
  display: flex;

  margin: 0 3vmin;

  border: none;
  text-decoration: none;
  color: #2a4d43;
}

.tile-wrap {
  margin: 16px 0;
  transition: .25s;
}

.tile-wrap:hover {
  transform: scale(1.1);
}

.tile img.proj-img {
  max-width: 20vw;
  height: 256px;

  border-radius: 5px 0 0 5px;
  border: 2px solid #2a4d43;
  object-fit: cover;
  object-position: center;
}

.rover-img { content:url("../components/docs/images/rover.png"); }
.tile:hover .rover-img { content:url("../components/docs/images/rover.webp"); }

.tile .content {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 15vw;
  padding-left: 10px;

  background-color: #648672;
  border: 2px solid #2a4d43;
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.tile .title {
  flex: initial;

  margin: 8px 8px 4px 4px;

  text-align: left;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 0.05rem;
}

.tile .subtitle {
  flex: initial;

  margin: 0px 4px 4px;

  color: #e4ded3;
  text-align: left;
  font-size: 16px;
  transition: 0.25s;
}

.tile .description {
  flex: auto;

  padding: 0.5vh;

  color: #e4ded3;
  text-align: left;
  font-size: 12px;
  transition: 0.25s;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 0;
  width: 192px;
  margin: auto;
  padding: 4px 0 2px 0;

  text-decoration: none;
  color: #2a4d43;
  font-size: 0;
  border-radius: 5px 5px 0 0;
  background-color: #648672;
  transition: .25s;
}

.tile-wrap:hover .popup {
  height: 5%;
  font-size: 16px;
}

.popup i {
  margin: 0px 8px;
}

.popup-icon {
  margin: 0 8px;
  max-height: 0;
  transition: .25s;
}

.tile-wrap:hover .popup-icon {
  max-height: 16px;
}

.popup-icon.Github { content:url("../components/docs/images/github.png") }
.popup-icon.Devpost { content:url("../components/docs/images/devpost.png") }

.tile .tags {
  display: flex;
  flex: initial;
  align-content: flex-end;
  overflow: scroll;
}

.tags div {
  display: flex;
  align-items: center;

  margin: 4px;
  padding: 2px;

  background-color: #557a64;
  color: #e4ded3;
  border-radius: 5px;
  font-size: 0;
  transition: .25s;
}

.tags div:hover {
  font-size: 12px;
}

.tags img.tag-icon {
  margin: 2px;
  max-width: 16px;
  object-fit: cover;
  object-position: center;
}

.tags div:hover img.tag-icon {
  margin: 2px 4px 2px 2px;
}

.tags img.HTML { content:url("../components/docs/images/html.png"); }
.tags img.CSS { content:url("../components/docs/images/css.png"); }
.tags img.JavaScript { content:url("../components/docs/images/js.png"); }
.tags img.Unity { content:url("../components/docs/images/unity.png"); }
.tags img.C\# { content:url("../components/docs/images/cs.png"); }
.tags img.React { content:url("../components/docs/images/react.png"); }
.tags img.Java { content:url("../components/docs/images/java.webp"); }
.tags img.Git { content:url("../components/docs/images/git.png"); }
.tags img.Python { content:url("../components/docs/images/python.png"); }

#resume {
  margin: auto;

  width: 80%;
  height: 100vh;
}

#nomatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1110px) {
  /*** Intro ***/
  .top {
    font-size: 64px;
  }

  /*** Home ***/
  .panel .title {
    font-size: 48px;
  }

  /*** Projects ***/
  .tile .title {
    font-size: 24px;
  }

  .tile img.proj-img {
    height: initial;
  }
}

@media screen and (max-width: 830px) {
  /*** Home ***/
  .panel {
    width: 90%;
  }

  .title.main {
    font-weight: bold;
    font-size: 32px;
  }

  .bio {
    font-size: 16px;
  }

  #icons i {
    font-size: 24px;
  }

  /*** Projects ***/
  #two-col {
    display: none;
  }

  #one-col {
    display: initial;
  }

  .tile-wrap {
    margin: 16px 0;
  }

  .tile img.proj-img {
    min-width: 192px;
    height: 192px;
  }

  .tile .content {
    width: 50vw;
    height: 192px;
  }
}

@media screen and (max-width: 635px) {
  /*** Home ***/
  #small {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .panel {
    margin: 16px;
  }
  
  .title.main {
    display: none;
  }

  .title.small {
    display: initial;
    color: #2a4d43;
    font-size: 48px;
  }
}

@media screen and (max-height: 500px) {
  /*** Navbar ***/
  #navbar a {
    font-size: 16px;
    padding: 2px 4px;
  }
}