/* Palette: https://coolors.co/3b6d86-e4ded3-94b798-2a4d43-557a64-648672 */

html {
  background-color: #94b798;
}

/* Offset for navbar */
.container {
  display: flex;
  justify-content: center;
  margin: 7vh auto auto;
}

#bkg {
  height: 100vh;
  background-color: #94b798;
}

.fade {
  animation: fade 1s 1.5s ease-in-out forwards;
}

@keyframes fade {
  99% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

.slider {
  width: 100%;
  height: 49.75%;
  background-color: #2a4d43;
  position: absolute;
}

.top {
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #94b798;
  font-size: 96px;
}

.slide-up {
  animation: slide-up 1s .5s ease-in-out forwards;
}

@keyframes slide-up { 100% { top: -49.75%; } }

.bottom {
  bottom: 0;
}

.slide-down {
  animation: slide-down 1s .5s ease-in-out forwards;
}

@keyframes slide-down { 100% { bottom: -49.75%; } }

.panel {
  width: 70%;
  margin: auto 24px;
  color: #2a4d43;
}

.panel .title {
  margin: 12px;
  font-size: 64px;
}

.panel .bio {
  margin: 12px;
  font-size: 24px;
}

.panel .bio a {
  text-decoration: none;
  color: inherit;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#me {
  margin: 24px 8px 12px;
  border-radius: 50%;
  width: 70%;
}

#icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#icons a {
  display: flex;
}

#icons i {
  font-size: 32px;
  margin: 8px;
  color: #2a4d43;
  transition: .25s;
}

#icons i:hover {
  transform: scale(1.1);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  min-height: 7vh;
  width: 100%;
  border-bottom: 2px solid #2a4d43;

  background-color: #557a64;
}

#navbar a {
  margin: auto 10px;
  padding: 4px 8px;
  border-radius: 5px;

  text-decoration: none;
  color: #6f9b80;
  font-size: 24px;
  font-weight: bold;
  transition: .25s;
}

#navbar a.active {
  color: #e4ded3;
}

#navbar a:hover {
  background-color: #2a4d43;
}

#projects {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.col {
  width: 50%;
}

.tile {
  display: flex;

  margin: 0 15px;
  height: 33vh;

  border: none;
  text-decoration: none;
  color: #2a4d43;
}

.tile-wrap {
  margin: 30px 0;
  transition: .25s;
}

.tile-wrap:hover {
  transform: scale(1.1);
}

.tile img.proj-img {
  width: 20vw;

  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid #2a4d43;
  object-fit: cover;
  object-position: center;
}

.tile .content {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 30vmin;
  padding-left: 10px;

  background-color: #648672;
  border: 2px solid #2a4d43;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.tile .title {
  flex: initial;

  margin: 8px 8px 4px 4px;
  /* padding: .3vh 0.25vh 0.25vh; */

  text-align: left;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 0.05rem; /*TODO*/
}

.tile .subtitle {
  flex: initial;

  margin: 0px 4px 4px;

  color: #e4ded3;
  text-align: left;
  font-size: 16px;
  transition: 0.25s;
}

.tile .description {
  flex: auto;

  padding: 0.5vh;

  color: #e4ded3;
  text-align: left;
  font-size: 12px;
  transition: 0.25s;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 0;
  width: 30%;
  margin: auto;
  padding: 4px 0 0 0;

  text-decoration: none;
  color: #2a4d43;
  font-size: 0;
  border-radius: 5px 5px 0 0;
  background-color: #648672;
  transition: .25s;
}

.tile-wrap:hover .popup {
  height: 5%;
  font-size: 16px;
}

.popup i {
  margin: 0px 8px;
}

.popup-icon {
  margin: 0 8px;
  max-height: 0;
  transition: .25s;
}

.tile-wrap:hover .popup-icon {
  max-height: 16px;
}

.popup-icon.Github { content:url("../components/docs/images/github.png") }
.popup-icon.Devpost { content:url("../components/docs/images/devpost.png") }

.tile .tags {
  display: flex;
  flex: initial;
  align-content: flex-end;
}

.tags div {
  display: flex;
  align-items: center;

  background-color: #557a64;
  color: #e4ded3;
  margin: 4px;
  padding: 2px;
  border-radius: 5px;
  font-size: 0;
  transition: .25s;
}

.tags div:hover {
  font-size: 12px;
}

.tags img.tag-icon {
  margin: 2px;
  max-width: 16px;
  object-fit: cover;
  object-position: center;
}

.tags div:hover img.tag-icon {
  margin: 2px 4px 2px 2px;
}

.tags img.HTML { content:url("../components/docs/images/html.png"); }
.tags img.CSS { content:url("../components/docs/images/css.png"); }
.tags img.JavaScript { content:url("../components/docs/images/js.png"); }
.tags img.Unity { content:url("../components/docs/images/unity.png"); }
.tags img.C\# { content:url("../components/docs/images/cs.png"); }
.tags img.React { content:url("../components/docs/images/react.png"); }
.tags img.Java { content:url("../components/docs/images/java.webp"); }
.tags img.Git { content:url("../components/docs/images/git.png"); }
.tags img.Python { content:url("../components/docs/images/python.png"); }

.rover-img {
  content:url("../components/docs/images/rover.png");
}

.tile:hover .rover-img {
  content:url("../components/docs/images/rover.webp");
}

#resume {
  margin: auto;

  width: 80%;
  height: 100vh;
}

#nomatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}