html {
  background-color: #282c34;
}

/* Offset for navbar */
.container {
  display: flex;
  justify-content: center;
  margin: 7vh auto auto;
}

#bkg {
  height: 100vh;
  background-color: black;
  z-index: -1;
}

.fade {
  animation: fade 1s 1.5s ease-in-out forwards;
}

@keyframes fade {
  99% {
    opacity: 0;
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

.slider {
  width: 100%;
  height: 49.75%;
  background-color: white;
  position: absolute;
}

.top {
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 96px;
  /* font-weight: bold; */
}

.slide-up {
  animation: slide-up 1s .5s ease-in-out forwards;
}

@keyframes slide-up { 100% { top: -49.75%; } }

.bottom {
  bottom: 0;
}

.slide-down {
  animation: slide-down 1s .5s ease-in-out forwards;
}

@keyframes slide-down { 100% { bottom: -49.75%; } }

.panel {
  width: 70%;
  margin: auto 25px;
  color: aliceblue;
}

.panel .title {
  margin: 12px;
  font-size: 64px;
}

.panel .bio {
  margin: 12px;
  font-size: 24px;
}

.panel .bio a {
  text-decoration: none;
  color: inherit;
}

#me {
  margin: 20px;
  border-radius: 50%;
  width: 25%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  min-height: 7vh;
  width: 100%;

  background-color: #282c34;
}

#navbar a {
  margin: auto 10px;
  padding: 4px 8px;
  border-radius: 5px;

  text-decoration: none;
  color: darkgrey;
  font-size: 24px;
  font-weight: bold;
  transition: .25s;
}

#navbar a.active {
  color: aliceblue;
}

#navbar a:hover {
  background-color: black;
}

#themes {
  margin: 12px;
}

#theme {
  padding: 4px;
  border-radius: 5px;

  background-color: #23252d;
  border: none;
  color: aliceblue;
  font-size: 16px;
}

#projects {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.col {
  width: 50%;
}

.tile {
  display: flex;

  margin: 30px 15px;
  height: 33vh;

  border: none;
  background-color: rgba(0,0,0,0);
  transition: .25s;
  text-decoration: none;
  color: black;
}

.tile:hover {
  transform: scale(1.1);
}

.tile img {
  width: 20vw;

  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 3px solid grey;
  object-fit: cover;
  object-position: center;
}

.tile .content {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 30vmin;
  padding-left: 10px;

  background-color: #999;
  border: 3px solid grey;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.tile .content .title {
  flex: initial;

  padding: .3vh 0.25vh 0.25vh;

  text-align: left;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 0.05rem; /*TODO*/
}

.tile .content .subtitle {
  flex: initial;

  padding: 0.25vh;

  color: #555;
  text-align: left;
  font-size: 16px;
  transition: 0.25s;
}

.tile:hover .content .subtitle {
  color: black;
  font-size: 20px;
}

.tile .content .description {
  flex: auto;

  padding: 0.25vh;

  color: #555;
  text-align: left;
  font-size: 12px;
  transition: 0.25s;
}

.tile:hover .content .description {
  color: black;
  font-size: 16px;
}

.centered {
  display: flex;
  justify-content: center;
}

#resume {
  margin: auto;

  width: 80%;
  height: 100vh;
}