@import url(https://fonts.bunny.net/css?family=merriweather:300,600);

body {
  font-family: "Merriweather", serif;

  background-color: var(--neutral8);
  color: var(--neutral1);

  margin: 0;

  /* Colors */
  --neutral1: #181818;
  --neutral2: #2a2a2a;
  --neutral3: #4b4b4b;
  --neutral4: #8c8c8c;
  --neutral5: #ababab;
  --neutral6: #cacaca;
  --neutral7: #d9d9d9;
  --neutral8: #f7f7f7;

  --primary1: #003800;
  --primary4: #2f672f;
  --primary8: #daeeda;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid:
    "nav" auto
    "main" 1fr
    "footer" auto / 1fr;
}